<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUiV9yBHhmEbHyZ783vx6viH8UK8w7Eoc</string>
	<key>GCM_SENDER_ID</key>
	<string>301952263004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neocaresmileapp</string>
	<key>PROJECT_ID</key>
	<string>neocaresmileapp-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>neocaresmileapp-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301952263004:ios:d4dbb43265bae44af75799</string>
</dict>
</plist>